@model Ecommerce.BLL.Models.CustomerVM 

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-controller="Customer" asp-action="Edit">
    <input type="hidden" asp-for="id" />

    @*--------------name-----------------*@
    <div class="form-group row">
        <label asp-for="name" class="col-sm-12 col-md-2 col-form-label">Name</label>
        <div class="col-sm-12 col-md-10">
            <input class="form-control" type="text" asp-for="name">
            <span asp-validation-for="name" class="alert-danger"></span>
        </div>
    </div>

    @*--------------Address-----------------*@
    <div class="form-group row">
        <label asp-for="address" class="col-sm-12 col-md-2 col-form-label">Address</label>
        <div class="col-sm-12 col-md-10">
            <input class="form-control" type="text" asp-for="address">
            <span asp-validation-for="address" class="alert-danger"></span>
        </div>
    </div>

    @*--------------phone-----------------*@
    <div class="form-group row">
        <label asp-for="phone" class="col-sm-12 col-md-2 col-form-label">Phone</label>
        <div class="col-sm-12 col-md-10">
            <input class="form-control" type="text" asp-for="phone">
            <span asp-validation-for="phone" class="alert-danger"></span>
        </div>
    </div>

    <center>
        <button class="btn btn-outline-success text-center" type="submit">Save Changes</button>
    </center>
    <br />
</form>